<!DOCTYPE html>
<html lang="zxx">

<head>
	<!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Title Tag  -->
    <title>trekking -Destinations</title>
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="images/favicon.png">
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	
	<!-- StyleSheet -->
    <link rel="stylesheet" href="css/nice-select.css">
	<link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/datepicker.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/magnific-popup.min.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/owl-carousel.css">
    <link rel="stylesheet" href="css/slicknav.min.css">
    <link rel="stylesheet" href="css/animate.css">
	
	<!-- TravelTrek StyleSheet -->
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="js">
	
	<!-- Preloader -->
	
	<!-- End Preloader -->

	<!-- Header Area -->
	<header id="site-header" class="site-header">
		<!-- Start Topbar -->
        
		<!--/ End Topbar -->
		<!-- Middle Header -->
		<div class="middle-header">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-12">
						<!-- Logo -->
						<div class="logo">
							<a href="index4.html"><h1>Logo</h1></a>
						</div>
						<!--/ End Logo -->
						<div class="mobile-nav"></div>
					</div>
					<div class="col-lg-9 col-md-9 col-12">
						<!-- Header Widget -->
						<div class="header-widget">
							<!-- Single Widget -->
							<div class="single-widget">
								<img src="images/location-icon.png" alt="#">
								<h4>OnviroTech,Nepal</h4>
								<p>Basundhara,Ktm</p>
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<div class="single-widget">
								<img src="images/call-icon.png" alt="#">
								<h4>+123 456 7890</h4>
								<p>Troll Free </p>
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<div class="single-widget">
								<img src="images/clock-icon.png" alt="#">
								<h4>Mon -Fri: 9:00-19:00</h4>
								<p>Sunday Closed</p>
							</div>
							<!--/ End Single Widget -->
						</div>
						<!--/ End Header Widget -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Middle Header -->
		<!-- Header Bottom -->
		<div class="header-bottom">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- Main Menu -->
						<div class="main-menu">
							<nav class="navigation">
								<ul class="nav menu">
									<li><a href="index4.html">Home</a></li>
									<li><a href="blog.html">Blog</a></li>
									<li><a href="#">Destinations <i class="fa fa-angle-down"></i></a>
										<ul class="dropdown">
											<li><a href="destinations.html">Nepal</a></li>
											<li><a href="destinations.html">Bhutan</a></li>
											<li><a href="destinations.html">Tibet</a></li>
										</ul>
									</li>
									<li class="active"><a href="about.html">About</a></li>
									<li><a href="booking.html">Booking</a></li>
									<li><a href="faq.html">Faq</a></li>
									<li><a href="contact.html">Contact Us</a></li>
								</ul>
							</nav>
						</div>
						<!--/ End Main Menu -->
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Bottom -->
    </header>
	<!--/ End Header Area -->
	
	<!-- Breadcrumb -->
	<div class="breadcrumbs overlay" data-stellar-background-ratio="0.7">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<ul class="list">
						<li><a href="index.html">Home</a></li>
						<!-- <li><a href="#">Pages</a></li> -->
						<li><a href="destinations.html">About Us</a></li>
					</ul>
					<h2>About Us</h2>
				</div>
			</div>
		</div>
	</div>
	<!--/ End Breadcrumb -->
	
	<!-- About Us -->
	<section id="about-us" class="about-us section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-12">
					<!-- About Left -->
					<div class="about-left">
						<img src="images/about.jpg" alt="#">
					</div>
					<!--/ End About Left -->
				</div>
				<div class="col-lg-6 col-12">	
					<!-- About Right -->
					<div class="about-right">
						<div class="title-line">
							<p>about company</p>
							<h2>Worthy time spent <span>around the world with traveltrek.</span></h2>
						</div>
						<div class="about-main">
							<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
							<p>it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
							<!-- Skill Main -->
							
							<!--/ End Skill Main -->
						</div>
					</div>
					<!--/ End About Right -->
				</div>
			</div>
		</div>
	</section>
	<!--/ End About Us -->
	
	<!-- Counter -->
	<section id="counter" class="counter overlay section" data-stellar-background-ratio="0.7" style="background-position: 0% -38.4px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-12">
					<!-- Single Count -->
					<div class="single-count">
						<h2><span class="number">2500</span> Satisfied Customer</h2>
						<p>We are technology leaders and have crafted intuitive and lasting online and mobile experiences</p>
					</div>
					<!--/ End Single Count -->
				</div>
				<div class="col-lg-4 col-md-4 col-12">
					<!-- Single Count -->
					<div class="single-count">
						<h2><span class="number">5533</span> Advanced Booking</h2>
						<p>We are technology leaders and have crafted intuitive and lasting online and mobile experiences</p>
					</div>
					<!--/ End Single Count -->
				</div>
				<div class="col-lg-4 col-md-4 col-12">
					<!-- Single Count -->
					<div class="single-count">
						<h2><span class="number">231</span> Different Tailor Trips</h2>
						<p>We are technology leaders and have crafted intuitive and lasting online and mobile experiences</p>
					</div>
					<!--/ End Single Count -->
				</div>
			</div>
		</div>
	</section>
	<!--/ End Counter -->
	
	<!-- About Company -->
	<section id="cta" class="cta style2 section overlay" data-stellar-background-ratio="0.7" >
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-12">
					<!-- CTA Text -->
					<div class="cta-text">
						<div class="title-line">
							<p>about company</p>
							<h2>Worthy time spent<span>around the world.</span></h2>
						</div>
						<p>The average employee is wasting between 50%-80% of their day on non-work related distractions. Time wasted is money wasted, thats money that could stay in your pocket simply by changing the way you assign your tasks.</p>
						<a href="#" class="btn">Book your trip</a>
					</div>
					<!-- End CTA Text -->
				</div>
			</div>
		</div>
	</section>
	<!--/ End About Company -->
	
	<!-- Footer -->
	<footer class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-widget">
							<h2>Contact Us</h2>
							<ul>
								<li><a href="#">Address : 04 Basundhara,Ktm,Nepal.</a></li>
								<li><a href="#"> Phone : 123 456 7890 </a></li>
								<li><a href="#"> Email : info@onvirotech.com </a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-widget">
							<h2>Quick Menu</h2>
							<ul>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Contact</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Booking</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-widget gallery">
							<h2>Programs</h2>
							<ul class="list">
								<li><a href="#">Mountain Climbing</a></li>
								<li><a href="#">Mountain Climbing</a></li>
								<li><a href="#">Mountain Climbing</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-widget about">
							<h2>Location</h2>
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1765.6153270902448!2d85.32912848901375!3d27.741030883383342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19f82fb3fd73%3A0x989586b29a39a2e6!2sOnvirotech%20pvt.%20ltd%2C!5e0!3m2!1sen!2snp!4v1631084723027!5m2!1sen!2snp" width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="bottom-inner">
							<div class="row">
								<div class="col-lg-8 col-md-8 col-12">
									<div class="copyright"> 
										<p>Copyright &#9400; 2021 by <a href="#">onvirotech.com</a> All Right Reserved</p>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!--/ End footer -->
 
	<!-- Jquery -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<!-- Popper JS -->
	<script src="js/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Bootstrap Datepicker JS -->
	<script src="js/bootstrap-datepicker.js"></script>
	<!-- Steller JS -->
	<script src="js/steller.js"></script>
	<!-- Fancybox JS -->
	<script src="js/facnybox.min.js"></script>
	<!-- Circle Progress JS -->
	<script src="js/circle-progress.min.js"></script>
	<!-- Slicknav JS -->
	<script src="js/slicknav.min.js"></script>
	<!-- Niceselect JS -->
	<script src="js/niceselect.js"></script>
	<!-- Owl Carousel JS -->
	<script src="js/owl-carousel.js"></script>
	<!-- Magnific Popup JS -->
	<script src="js/magnific-popup.js"></script>
	<!-- Waypoints JS -->
	<script src="js/waypoints.min.js"></script>
	<!-- Wow Min JS -->
	<script src="js/wow.min.js"></script>
	<!-- Jquery Counterup JS -->
	<script src="js/jquery-counterup.min.js"></script>
	<!-- Ytplayer JS -->
	<script src="js/ytplayer.min.js"></script>
	<!-- ScrollUp JS -->
	<script src="js/scrollup.js"></script>
	<!-- Easing JS -->
	<script src="js/easing.js"></script>
	<!-- Google Map JS -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnhgNBg6jrSuqhTeKKEFDWI0_5fZLx0vM"></script>	
	<script src="js/gmap.min.js"></script>
	<!-- Active JS -->
	<script src="js/active.js"></script>
</body>

</html>